body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-accent-color: #2196F3;
  --secondary-accent-color: rgba(255, 255, 255, 0.6);
  --tertiary-accent-color: #D9D9D9;
  --primary-background-color: #FFFFFF;
  --header-background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --filter-button-background-color: #F5F4FA;
  --outline: #EEEEEE;
  --social-icon-color: #AFB1B8;
  --duration: 250ms;
  --timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
  --active-button: #188CE8;
  --header-border: #ECECEC;
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);
  --overlay-background: rgba(33, 150, 243, 0.9);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__card-title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  color: var(--primary-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .card-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: var(--header-background-color);
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--header-border);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .nav {
    gap: 87px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    gap: 92px;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.nav__link {
  display: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--primary-accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--primary-accent-color);
}

.nav__link--current::after {
  display: block;
  position: absolute;
  width: 100%;
  bottom: -28px;
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-accent-color);
}
@media screen and (max-width: 767px) {
  .nav__link--current::after {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link--current::after {
    bottom: -32px;
  }
}

.nav__icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .nav__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .nav__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .nav__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__studio {
  color: #000000;
}

.logo__studio-footer {
  color: var(--primary-background-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  -webkit-transition: background-color 250ms var(--timing-fun);
  transition: background-color 250ms var(--timing-fun);
}

.button:hover,
.button:focus {
  background-color: var(--active-button);
}

.button__text {
  margin-right: 10px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 2px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--primary-text-color);
  background-color: var(--filter-button-background-color);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, box-shadow, background-color;
  transition-property: color, box-shadow, background-color, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  fill: black;
  -webkit-transition: fill 250ms var(--timing-fun);
  transition: fill 250ms var(--timing-fun);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--primary-accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    row-gap: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__address {
  font-style: normal;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__location {
  color: var(--primary-background-color);
}

.footer__location:hover,
.footer__location:focus {
  color: var(--primary-accent-color);
}

.footer__email-phone {
  color: var(--secondary-accent-color);
}

.footer__email-phone:hover,
.footer__email-phone:focus {
  color: var(--primary-accent-color);
}

.footer__subscription {
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .footer__subscription {
    max-width: 570px;
  }
}

.footer__message {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.footer__input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .footer__input {
    max-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer_icon {
  width: 44px;
  height: 44px;
  color: var(--social-icon-color);
  border-radius: 50%;
  fill: currentColor;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-background-color);
}

.footer_icon:hover,
.footer_icon:focus {
  background-color: var(--primary-accent-color);
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: var(--backdrop-background);
  opacity: 1;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms linear, -webkit-transform 1000ms linear;
  transition: opacity 250ms linear, -webkit-transform 1000ms linear;
  transition: opacity 250ms linear, transform 1000ms linear;
  transition: opacity 250ms linear, transform 1000ms linear, -webkit-transform 1000ms linear;
  visibility: visible;
}
@media screen and (min-width: 480px) {
  .modal {
    max-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal__title {
  display: block;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__label {
  font-size: 12px;
  line-height: 1.1666666667;
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.modal__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  font-size: 16px;
  height: 40px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.modal__input:hover,
.modal__input:focus {
  border: 1px solid var(--primary-accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--primary-accent-color);
}

.modal__item--comment-box {
  margin-bottom: 20px;
}

.modal__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.modal__textarea:hover,
.modal__textarea:focus {
  border: 1px solid var(--primary-accent-color);
}

.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}
@media screen and (min-width: 1200px) {
  .modal__textarea::-webkit-input-placeholder {
    line-height: 1.1666666667;
  }
  .modal__textarea::-moz-placeholder {
    line-height: 1.1666666667;
  }
  .modal__textarea:-ms-input-placeholder {
    line-height: 1.1666666667;
  }
  .modal__textarea::-ms-input-placeholder {
    line-height: 1.1666666667;
  }
  .modal__textarea::placeholder {
    line-height: 1.1666666667;
  }
}

.modal__policy {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__policy {
    line-height: 1.7142857143;
  }
}

.modal__policy-link {
  text-underline-position: under;
  color: var(--primary-accent-color);
}

.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--footer-background-color);
  border-radius: 4px;
  -webkit-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

/* ACTIVE */
.modal__checkbox-input:hover + .modal__checkbox,
.modal__checkbox-input:focus + .modal__checkbox {
  border: 2px solid var(--primary-accent-color);
}

/* CHECKED */
.modal__checkbox-input:checked + .modal__checkbox {
  background-color: var(--primary-accent-color);
  background-image: url(../images/40-checkbox-checked.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--primary-accent-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon {
  width: 44px;
  height: 44px;
  color: var(--social-icon-color);
  border-radius: 50%;
  fill: currentColor;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.social__icon:hover,
.social__icon:focus {
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
}

.filter {
  width: 100%;
  height: auto;
  max-width: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .filter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 100%;
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 34px;
    padding-bottom: 50px;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--footer-background-color);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-hero-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-hero-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-hero-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-3200.jpg);
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    width: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 726px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  font-weight: 800;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__item {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantages__icon {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--filter-button-background-color);
}

.advantages__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.what-we-do {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.what-we-do__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.what-we-do__item::after {
  display: inline-block;
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 23.8%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do__title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 27px;
  text-align: center;
  color: var(--primary-background-color);
}

.team {
  background-color: var(--filter-button-background-color);
}

.team__item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team__card-legend {
  padding-top: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.team__role {
  margin-bottom: 16px;
}

.clients__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__card-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.clients__icon {
  fill: currentColor;
  outline: 1px solid currentColor;
  border-radius: 4px;
  padding: 16px;
  color: var(--social-icon-color);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.clients__icon:hover,
.clients__icon:focus {
  color: var(--primary-accent-color);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.portfolio__link:hover,
.portfolio__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--primary-background-color);
  background-color: var(--overlay-background);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-fun);
          transition-timing-function: var(--timing-fun);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay-text {
  -webkit-box-align: centre;
      -ms-flex-align: centre;
          align-items: centre;
  max-width: 322px;
}

.portfolio__card-legend {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid var(--outline);
}

.portfolio__card-title {
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__card-subtitle {
  font-size: 16px;
  line-height: 1.875;
}

.menu {
  outline: 2px solid black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  gap: 64px;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  outline: 1px solid tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
  gap: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu__link--current {
  color: var(--primary-accent-color);
}

.menu__link:focus,
.menu__link:active {
  color: var(--primary-accent-color);
}

.menu__contact {
  outline: 2px solid aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.menu__phone {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--secondary-text-color);
}

.menu__email {
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--secondary-text-color);
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.2222222222;
  gap: 20px;
  color: var(--primary-accent-color);
}

.menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu__social-link:focus,
.menu__social-link:active {
  color: var(--active-button);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.menu-overlay.is-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header__menu-btn {
  background-color: var(--header-background-color);
  border: none;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.header__menu-btn:focus,
.header__menu-btn:active {
  fill: var(--active-button);
}

.header__menu-close {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: var(--header-background-color);
  border: none;
}

.header__menu-close:focus,
header__menu-close:active {
  fill: var(--active-button);
}/*# sourceMappingURL=main.css.map */