.clients__card-set{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }

}

.clients__item {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 3);
    }

}


.clients__icon {
    fill: currentColor;
    outline: 1px solid currentColor;
    border-radius: 4px;
    padding: 16px;
    color: var(--social-icon-color);
    transition-property: color, fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fun);
}


.clients__icon:hover,
.clients__icon:focus {
    color: var(--primary-accent-color);
}