.what-we-do {
    padding-top: 0;

@media screen and (max-width: 1199px) {
display: none;
    }
}    


.what-we-do__card-set {
//mobile, tablet - not visible

//desktop
@media screen and (min-width: 1200px) {
display: flex;
flex-wrap: nowrap;
column-gap: 30px;

}
}

.what-we-do__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
}

.what-we-do__item::after {
    display: inline-block;
    position: absolute;
    z-index: 1;
   
    content: "";
    width: 100%;
    height: 23.8%;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do__title {

    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 27px;
    text-align: center;
    color: var(--primary-background-color);
}