.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        column-gap: 165px;
        row-gap: 60px;
        flex-wrap: wrap;
        
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        column-gap: 70px;
        flex-basis: baseline;
        justify-content: space-between;
    }
}


.footer__logo {

  margin-bottom: 20px;

}


.footer__address {
    font-style: normal;
}


.footer__item:not(:last-child) {
    margin-bottom: 8px;
}


.footer__location {
    color: var(--primary-background-color);

}

.footer__location:hover,
.footer__location:focus {
    color: var(--primary-accent-color)
}



.footer__email-phone {
    color: var(--secondary-accent-color);
}

.footer__email-phone:hover,
.footer__email-phone:focus {
    color: var(--primary-accent-color);
}

.footer__subscription {
    
    width: 100%;
    max-width: 450px;

    @media screen and (min-width: 1200px) {
        max-width: 570px;
        // margin-left: auto;
    }

   
}

.footer__message {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-background-color);
}



.footer__input {
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
    padding: 15px 16px;
    
   
   

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: transparent;
    color: var(--primary-background-color);

    @media screen and (min-width: 1200px) {
        max-width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.footer__input::placeholder {

    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

}


.footer_icon {
    width: 44px;
    height: 44px;
    color: var(--social-icon-color);
    border-radius: 50%;
    fill: currentColor;

    transition-property: color, background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fun);

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-background-color);
}

.footer_icon:hover,
.footer_icon:focus {
    background-color: var(--primary-accent-color);
}

.footer__form {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}