.section {


 padding-top: 60px;
    padding-bottom: 60px;

}

.section__icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__card-title {
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
}
