.section__title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    color: var(--primary-text-color);


     text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: calc(42 / 36);
        margin-bottom: 50px;
    }
}
