:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-accent-color: #2196F3;
    --secondary-accent-color: rgba(255, 255, 255, 0.6);
    --tertiary-accent-color: #D9D9D9;
    --primary-background-color: #FFFFFF;
    --header-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --filter-button-background-color: #F5F4FA;
    --outline: #EEEEEE;
    --social-icon-color: #AFB1B8;
    --duration: 250ms;
    --timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
    --active-button: #188CE8;
    --header-border: #ECECEC;
    --backdrop-background: rgba(0, 0, 0, 0.8);
    --placeholder: rgba(117, 117, 117, 0.5);
    --overlay-background: rgba(33, 150, 243, 0.9);
}